body {
    margin: 0;
    padding: 0;
    background: #262626;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 16em;
}

h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2.0s linear infinite;
}
